<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<%- include('../inc/head') %>

  <body>
    <%- include('../inc/svg') %>
      <%- include('../inc/mode') %>
        <main class="d-flex flex-nowrap">
          <%- include('../inc/sidebar') %>

            <div class="b-example-divider b-example-vr"></div>

            <section class="w-100">
              <%- include('../inc/nav.ejs') %>
                <%- include('../inc/navbar') %>

                  <table style="width: 88%" class="ms-1 table mt-5 table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">First Name</th>
                        <th class="fw-normal" scope="col">
                          <%= user.firstName %>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Last Name</th>
                        <td>
                          <%= user.lastName%>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Telephone</th>
                        <td>
                          <%= user.phone%>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Email</th>
                        <td>
                          <%= user.email %>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Gender</th>
                        <td>
                          <%= user.gender %>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Age</th>
                        <td>
                          <%= user.age %>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Country</th>
                        <td>
                          <%= user.country %>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Created on</th>
                        <td>
                          <%= moment(user.createdAt, "YYYYMMDD" ).fromNow();%>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Last Update</th>
                        <td>
                          <%= moment(user.updatedAt, "YYYYMMDD" ).fromNow();%>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </section>
        </main>
        <script src="../js/bootstrap.bundle.min.js"></script>

        <script src="../js/sidebars.js"></script>
        <script src="../js/main.js"></script>
  </body>

</html>